name: CI to Docker Hub

on:
  # Creating a reusable workflow
  workflow_call:
    inputs:
      DOCKER_REPOSITORY_NAME:
        required: true
        type: string
      DOCKER_IMAGE_NAME:
        required: true
        type: string
      DOCKER_IMAGE_TAG:
        required: true
        type: string
      DOCKER_IMAGE_PLATFORMS:
        required: false
        type: string
        default: "linux/amd64,linux/arm64"
      FREE_RUNNER_DISK_SPACE_BEFORE_BUILD:
        required: false
        type: boolean
        default: false
    secrets:
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_ACCESS_TOKEN:
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # GitHub Actions to Free Disk Space on Ubuntu runners
      # https://github.com/jlumbroso/free-disk-space
      - name: Free Disk Space (Ubuntu)
        if: ${{ inputs.FREE_RUNNER_DISK_SPACE_BEFORE_BUILD }}
        uses: jlumbroso/free-disk-space@v1.3.1

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v4

      # Allow Buildx multi-platform builds
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Setup Buildx as the builder
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      # Avoid having to re-download docker images and reduces the number of pulls against Docker Hub
      # https://github.com/actions/cache
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      # Use Personal Access Token (PAT) and username to log into Docker Hub
      # https://github.com/docker/login-action
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # Build and push action
      # https://github.com/docker/build-push-action
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: ${{ inputs.DOCKER_IMAGE_PLATFORMS }}
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ inputs.DOCKER_REPOSITORY_NAME }}/${{ inputs.DOCKER_IMAGE_NAME }}:${{ inputs.DOCKER_IMAGE_TAG }}
          labels: maintainer=Ruben Suarez <rubensa@gmail.com>
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      # Echo the image digest to see what was pushed
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
